{% if items %}
<div class="card-body w-100 p-0">
  <div class="container-fluid w-100 mx-auto" id="itemCarousel" >
    <div class="row">
      <div class="scroll-left">
        <a class="left"><i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="scroll-wrapper scroll-box" scroll-position=0>
        {% for item in items %}
          <div class="scroll-item mr-2">
            <div class="album-item-wrapper" item_id="{{item.item_id}}">
              <div class="album-item"{% if album.alb_image %}{% with album.alb_image as img %}style="background-image: url('{{ img.url }}')"{% endwith %}{% endif %}>
                <h5 class="album-title">{{item.item_name}}</h5>
                <p class="album-desc d-none">{{item.item_desc}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        {% if items|length > 20 %}
          <div class="scroll-item mr-2">
            <div class="album-item-wrapper bg-dark-grey">
              <div class="album-item read-more">
                <h6 class="album-title">Show More</h6>
              </div>
            </div>
          </div>
        {%endif%}
      </div>
      <div class="scroll-right text-right">
        <a class="right"><i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i></i></a>
      </div>
    </div>
  </div>
</div>
{% endif %}


