{% extends 'index.html' %}
{% block header %}
<input type="checkbox" id="offcanvas-menu" class="toggle"/>
<div class="fluid-container">
  <div class="menu-container side-nav fixed sn-bg-4">
    <div>
      <ul class="custom-scrollbar">
        <li>
          <div class="logo-wrapper text-center"></div>
        </li>
      </ul>
    </div>
    <div>
      <ul class="collapsible">
        <li class="active"><a class="collapsible-header text-dark" href="/"><i class="fa fa-home" style="padding-right: 0.9rem"></i> Home</a></li>
        <li><a class="collapsible-header text-dark" href="/user/{{user.user_id}}"><i class="fa fa-user"></i> Profile</a></li>
        <li><a class="collapsible-header text-dark" href="/helpcenters"><i class="fa fa-heartbeat"></i> Help Centres</a></li>
        <li><a class="collapsible-header text-dark" href="/admin"><i class="fa fa-certificate"></i> Admin</a></li>
      </ul>
    </div>
    <hr>
    <div class="bottom px-2">
      <div class="pre-login-urls text-center">
        <a class="collapsible-header text-dark pr-2" href="/faq">FAQ</a>
        <a class="collapsible-header text-dark" href="/contact">Contact</a>
      </div>
      <hr>
      <div class="text-center">
        <a class="nounderline" href="#" target="_blank" class="px-2">
          <i class="fab fa-facebook-f circle font-white " ></i>
        </a>
        <a class="nounderline" href="#" target="_blank" class="px-2">
          <i class="fab fa-youtube circle"></i>
        </a>
        <a class="nounderline" href="#" target="_blank" class="px-2">
          <i class="fab fa-twitter  circle"></i>
        </a>
        <a class="nounderline" href="#" target="_blank" class="px-2">
          <i class="fab fa-instagram  circle"></i>
        </a>
      </div>
    </div>
  </div>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white justify-content-between menu">
    <div class="content mr-2">
      <label for="offcanvas-menu" class="full-screen-close"></label>
      <div >
        <label for="offcanvas-menu" class="toggle-btn">
        <i class="fa fa-bars"></i>
        </label>
      </div>
    </div>
    <a class="navbar-brand" href="/">
      <img src='/static/images/logo.png' height='50'/>
    </a>
    <form class="search-large mx-auto">
      <div class="input-group px-3">
        <span class="input-group-addon"><i class="fas fa-search fa-1x"></i></span>
        <input name="es_text form-control" placeholder="Search for Items, Help Centres, Users" class="form-control form-width"  type="text">
      </div>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav px-xl-2">
        <li class="mx-1 text-center follow_notification_count">
          <a id="modal-hover" class="nav-link" data-toggle="popover" data-content="Follow Requests"
             href="#" data-placement="bottom" data-trigger="hover">
            <div class="bg-red {% if not user_followers %}d-none{% endif %} notification-count">
              {{ user_followers.count | default:0}}
            </div>
            <i class="fas fa-user-plus fa-1x"></i>
          </a>
        </li>
        <li class="mx-1 text-center">
          <a class="nav-link" href="#" data-toggle="popover"
             data-placement="bottom" data-trigger="hover" data-content="Notifications">
            <i class="fas fa-bell fa-x"></i>
          </a>
        </li>
        <li class="mx-1 text-center">
          <a class="nav-link" href="#" data-toggle="popover"
             data-placement="bottom" data-trigger="hover" data-content="Messages">
            <i class="fas fa-comment-alt"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ user.get_short_name | default:"FirstName" }} </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " href="/user/{{user.user_id}}/edit">Settings</a>
            <a class="dropdown-item " href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
    <form class="search-small m-auto">
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-search fa-1x"></i></span>
        <input name="es_text form-control" placeholder="Artist, Song, Playlist, Album" class="form-control form-width"  type="text">
      </div>
    </form>
  </nav>
</div>
<div class="row nav-padding"></div>
{% endblock %}
{% block slider %}
{% endblock %}
{% block main %}
<div class="row bg-light-grey">
  <div class="col-md-8 m-auto">
    <div class="row mx-0 my-2">
      <div class="card mb-2 w-100">
        <div class="card-body text-center">
          <form id="blog-comment-form">
            <div class="form-group basic-textarea shadow-textarea m-0">
              <textarea id="user-comment" name="user-comment" required="required" class="form-control" rows="3" placeholder="Write something here..."></textarea>
            </div>
            <div class="text-right">
              <button class="btn bg-dark-grey profile-img"><i class="fas fa-image mr-2"></i> Photo</button>
              <input id="imageUpload" type="file" accept="image/png, image/jpeg, image/gif" name="post_files" placeholder="Photo">
                <button class="btn waves-effect my-2 bg-orange post-submit text-right"><i class="fas fa-paper-plane"></i> Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="div post_wrapper">
        {% include 'posts.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
