<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vikas Ramaneti">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
    {% block css %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/fontawesome-all.min.css"  rel="stylesheet" type="text/css">
    <link href="/static/css/app.css" rel="stylesheet" type="text/css">
    {% endblock %}
    <title>RelinquishNow - Helping hands </title>
  </head>
  <body>
    <div class="app-main container">
      {% block header %}
      <div class="row">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white justify-content-between">
          <a class="navbar-brand" href="/">
            <img src='/static/images/logo.png' height='50'/>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav px-xl-2">
              <li class="mx-1 text-center">
                <a class="nav-link" href="/" id="home">Home</a>
              </li>
              <li class="mx-1 text-center">
                <a class="nav-link" href="/contact" id="blog">Contact</a>
              </li>
              <li class="login mx-1 text-center">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="row nav-padding"></div>
      {% endblock %}
      {% block slider%}
      <div class="row image-slider-container bg-grey">
        <div class="image-slider">
          <div class="image-search mx-auto">
            <h2 class="mt-3">Listen to all the tailored recommendations at one stop music shop for free</h2>
          </div>
        </div>
      </div>
      {% endblock %}
      {% block main%}
      <div class="row main-intro">
        <div class="col-md-11 m-auto py-4">
          <div class="row">
            <div class="col-md-4 text-center">
              <i class="fas fa-music fa-3x"></i>
              <h4 class="mt-3 font-orange">Discover</h4>
              <p class="grey-text">We are here to change the way you discover music. From a newbie who is looking for a platform to a pro who is looking for the “x” factor we have got everything covered!</p>
            </div>
            <div class="col-md-4 text-center">
              <i class="fas fa-chart-line fa-3x"></i>
              <h4 class="mt-3 font-orange">Stream</h4>
              <p class="grey-text">We offer you the future of streaming in the present. We blend music with machine learning to provide tailor made recommendations so that you can listen to the kind of music you like.</p>
            </div>
            <div class="col-md-4 text-center">
              <i class="fas fa-users fa-3x"></i>
              <h4 class="mt-3 font-orange">Connect</h4>
              <p class="grey-text">It always feels nice to know more about ones music community. Through our interactive social platform, we make you feel closer to those people who matter the most.</p>
            </div>
          </div>
        </div>
        <div class="col-md-11 m-auto underline"></div>
        <div class="col-md-11 m-auto text-center py-4">
          <h3><b>Sign Up for TVAlly!</b></h3>
          <p class="grey-text text-center">Be a part of a unique musical experience. Find, listen, connect and grow with the only platform for all your music needs.</p>
          <button class="btn btn-lg mx-2 artist-register"><b>Artists </b><i class="fas fa-user-plus"></i></button>
          <button class="btn btn-lg bg-blue mx-2 patron-register"><b>Patrons </b><i class="fas fa-user"></i></button>
        </div>
      </div>
      <div class="row music-features pt-5">
        <div class="col-md-11 text-center mx-auto my-5">
          <h1 class="py-3">Next Generation Musical Entertainment!</h1>
          <p class="text-center lead">Veritable feast of music discovery, customized for your diversified tastes, preferences and moods. Browse through multitude genres, highlighted collections and latest creations.
          </h5>
        </div>
        <div class="col-md-12 music-info mx-auto">
          <div class="row text-center">
            <div class="card-wraper col-md-5 mb-3">
              <div class="card text-center">
                <div class="card-header artist">
                  <p class="text-center"> Receive Aggregated Analytics </p>
                  <p class="text-center">Get paid for Listens</p>
                  <p class="text-center">Find Collaboration Opportunities </p>
                  <h5 class="btn bg-orange m-auto px-4"><b>For Artists</b></h5>
                </div>
              </div>
            </div>
            <div class="card-wraper col-md-5 mb-3">
              <div class="card text-center">
                <div class="card-header listener">
                  <p class="text-center"> Unearth New Talent </p>
                  <p class="text-center">Get Tailored Recommendations </p>
                  <p class="text-center">Connect Socially</p>
                  <h5 class="btn bg-orange m-auto px-4"><b>For Patrons</b></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row music-features-2 py-5">
        <div class="col-md-11 m-auto">
          <div class="row">
            <div class="col-md-12 text-center mb-5">
              <h1 class="font-red">What's in store at TVAlly!</h1>
              <p class="text-center font-grey">Whether you are an artist or a patron, we have got you covered with our exclusive and distinct features</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-1 nopadding ml-4">
                  <i class="fas fa-microphone fa-2x font-red"></i>
                </div>
                <div class="col">
                  <h5 class="font-blue font-weight-bold">Connect with your Patrons</h5>
                  <p>"Information is wealth". Getting right information is a haywire process in today’s world. We come up with all the important information with our advanced analytics of what drives your patrons towards you, for understanding and performing at your best.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-1 nopadding ml-4">
                  <i class="fas fa-microphone fa-2x font-red"></i>
                </div>
                <div class="col">
                  <h5 class="font-blue font-weight-bold">Ready for having deep pockets?</h5>
                  <p>All you need to do is upload your music and get paid for every unique listen from our platform. More the listens, more the money!</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-1 nopadding ml-4">
                  <i class="fas fa-microphone fa-2x font-red"></i>
                </div>
                <div class="col">
                  <h5 class="font-blue font-weight-bold">Peer Finder</h5>
                  <p>Got an event, but running short of a peer member? Looking for the right band to showcase your skills? We help you to find the right person/band for the right job through our peer finder.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-1 nopadding ml-4">
                  <i class="fas fa-headphones fa-2x font-red"></i>
                </div>
                <div class="col">
                  <h5 class="font-blue font-weight-bold">Discover your Celebrity</h5>
                  <p>Bored of listening to monotonous music? Our platform enables you to discover new artists. Follow your favourite ones and get a chance to avail exclusive content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-1 nopadding ml-4">
                  <i class="fas fa-headphones fa-2x font-red"></i>
                </div>
                <div class="col">
                  <h5 class="font-blue font-weight-bold">Streaming with RecomAlly</h5>
                  <p>We offer you the future of streaming in the present. We blend music with machine learning (RecomAlly), to provide tailored recommendations so that you can listen to the kind of music you would love.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-1 nopadding ml-4">
                  <i class="fas fa-headphones fa-2x font-red"></i>
                </div>
                <div class="col">
                  <h5 class="font-blue font-weight-bold">Tune in with other Folks</h5>
                  <p>TVAlly offers you a unique experience to explore, enhance and enjoy the music with no boundaries by socially connecting with your friends with similar tastes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row music-connect bg-grey">
        <div class="col-11 m-auto">
          <div class="row align-center pb-5">
            <div class="col-md-5 pt-5">
              <h4 class="font-red">About TVAlly</h4>
              <hr>
              <p>TVAlly is a music platform which connects listeners and artists providing Discovery, Streaming and Social Connectivity. Our vision is to connect people, using the power of music. We provide tailored recommendations to you using our ML based in-house Recommender System (RecomAlly) from a repository of tracks and artists you would want to know and love. TVAlly is also a platform for artists with multitude of features to showcase the world about their brilliance and innovation.</p>
              <a href="/team" class="btn bg-red">Learn More</a>
            </div>
            <div class="col-md-5 pt-5">
              <h4 class="font-red">Connect With Us</h4>
              <hr>
              <div class="social-feed">
                <a class="social-icon si-fb nounderline" href="#" target="_blank">
                <i class="fab fa-facebook-square fa-3x"></i>
                </a>
                <a class="social-icon si-youtube nounderline" href="#" target="_blank">
                <i class="fab fa-youtube-square fa-3x"></i>
                </a>
                <a class="social-icon si-twitter nounderline" href="#" target="_blank">
                <i class="fab fa-twitter-square fa-3x"></i>
                </a>
                <a class="social-icon si-instagram nounderline" href="#" target="_blank">
                <i class="fab fa-instagram fa-3x"></i>
                </a>
              </div>
              <hr>
              <div>
                <i class="far fa-envelope fa-2x font-red"></i>
                <h6><a href="mailto:info@tvally.in" class="font-black">company@contact.com</a></h6>
              </div>
              <hr>
              <div class="row justify-content-start flex-nowrap pl-3">
                <div><i class="fab fa-periscope fa-2x"></i></div>
                <div class="col-md-10 m-0 pl-4">
                  <p class="pl-2">Address of Company</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
      {% block footer %}
      <div class='row footer bg-light-dark'>
        <div class="col-11 m-auto">
          <div class="row footer-inner">
            <div class="col-2">
              <a href="/contact">Contact Us</a>
            </div>
            <div class="col-2">
              <a href="/faq">FAQ</a>
            </div>
            <div class="col-3">
              <a href="#">Terms & Privacy Policy</a>
            </div>
            <div class="col footer-copyright font-weight-bold">&copy; RelinquishNow Pvt Ltd.</div>
          </div>
        </div>
      </div>
      {% endblock %}
      {% block modals %}
      {% endblock %}
    </div>
  </body>
  {% block js %}
  <script src="/static/js/jquery-3.2.1.min.js" type="application/javascript"></script>
  <script src="/static/js/popper.min.js" type="application/javascript"></script>
  <script src="/static/js/moment.min.js" type="application/javascript"></script>
  <script src="/static/js/bootstrap.min.js" type="application/javascript"></script>
  <script src="/static/js/app.js" type="application/javascript"></script>
  {% endblock %}
  {% block inline_js %}
  {% endblock %}
</html>
