{% extends 'index.html' %}
{% block slider %}
{% endblock %}
{% block main %}
<div class="row">
  <div class="col-md-12 col-sm-12 text-center p-3">
    <form id="login-form">
      <div class="card">
        <div class="card-body">
          <div class="form-group pt-1">
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
              <label for="user_login_email">Email</label>
              <input id="user_login_email" name="user_login_email" data-validation="email" data-validation-error-msg="Enter a valid e-mail" type="email" required="required">
            </div>
          </div>
          <div class="form-group pt-1">
            <div class="md-form">
              <i class="fas fa-lock prefix"></i>
              <label for="user_login_password">Password</label>
              <input id="user_login_password" name="user_login_password" data-validation="length" data-validation-error-msg="Please enter a valid password" minlength="8" type="password" required="required">
            </div>
          </div>
          <div class="text-center m-4">
            <button class="btn bg-indigo px-5 py-2" id="login-form-submit" value="Validate">Login
            <i class="fa fa-spinner fa-spin ml-2" aria-hidden="true"></i>
            </button>
          </div>
          <div class="valid-feedback col-md-12 font-weight-bold text-center">User Authenticated Succesfully!</div>
          <div class="invalid-feedback col-md-12 font-weight-bold text-center">Invalid Username/Password!</div>
          <div class="text-center">
            <h5>
              <a href="#" class="font-red forgot-password">Forgot Password</a><span> | </span>
              <a href="/signup" class="font-blue user-register">Sign Up</a>
            </h5>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block player %}
{% endblock %}
